In [1]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt

In [12]:
path = '/Users/manuelandersen/Documents/Kaggle/Optiver-Stock-Challenge/data/optiver-trading-at-the-close/train.csv'
train = pd.read_csv(path)
print(f'Size of the train set: {train.shape}')

Size of the train set: (5237980, 17)

In [13]:
def inspect_columns(df):
    # A helper function that does a better job than df.info() and df.describe()
    result = pd.DataFrame({
        'unique': df.nunique() == len(df),
        'cardinality': df.nunique(),
        'with_null': df.isna().any(),
        'null_pct': round((df.isnull().sum() / len(df)) * 100, 2),
        '1st_row': df.iloc[0],
        'random_row': df.iloc[np.random.randint(low=0, high=len(df))],
        'last_row': df.iloc[-1],
        'dtype': df.dtypes
    })
    return result

In [14]:
inspect_columns(train)

,unique,cardinality,with_null,null_pct,1st_row,random_row,last_row,dtype
stock_id,False,200,False,0.00,0,183,199,int64
date_id,False,481,False,0.00,0,157,480,int64
seconds_in_bucket,False,55,False,0.00,0,370,540,int64
imbalance_size,False,2971863,True,0.00,3180602.69,289631.88,1884285.71,float64
imbalance_buy_sell_flag,False,3,False,0.00,1,1,-1,int64
reference_price,False,28741,True,0.00,0.999812,1.001197,1.002129,float64
matched_size,False,2948862,True,0.00,13380276.64,34443260.77,24073677.32,float64
far_price,False,95739,True,55.26,NaN,1.003325,1.000859,float64
near_price,False,84625,True,54.55,NaN,1.002261,1.001494,float64
bid_price,False,28313,True,0.00,0.999812,1.001064,1.002129,float64
bid_size,False,2591773,False,0.00,60651.5,75.27,250081.44,float64
ask_price,False,28266,True,0.00,1.000026,1.001197,1.002447,float64
ask_size,False,2623254,False,0.00,8493.03,9259.44,300167.56,float64
wap,False,31506,True,0.00,1.0,1.001065,1.002274,float64
target,False,15934,True,0.00,-3.029704,-0.529885,-6.530285,float64
time_id,False,26455,False,0.00,0,8672,26454,int64
row_id,True,5237980,False,0.00,0_0_0,157_370_183,480_540_199,object

In [15]:
# Take a look at any single time series by setting the stock_id and date_id

stock_id = 6 #apple stock for example
date_id = 4  #on the 4 of april of 2004

(train
    .query(f'stock_id == {stock_id} & date_id == {date_id}')
    .drop(columns=['stock_id', 'date_id', 'time_id', 'row_id'])
    .head(10)
)

,seconds_in_bucket,imbalance_size,imbalance_buy_sell_flag,reference_price,matched_size,far_price,near_price,bid_price,bid_size,ask_price,ask_size,wap,target
42026,0,126061.42,-1,0.999937,4549758.83,NaN,NaN,0.999937,1443.36,1.001288,29387.97,1.000000,-7.839799
42218,10,70729.12,-1,0.998648,4605091.14,NaN,NaN,0.997858,48012.00,0.999583,48095.00,0.998721,5.970001
42410,20,65917.61,-1,0.998503,4609902.64,NaN,NaN,0.997879,480.13,0.999583,48095.00,0.997896,16.189814
42602,30,100079.30,-1,0.998482,4609902.64,NaN,NaN,0.997900,48014.00,0.999500,15870.03,0.999103,2.180338
42794,40,0.00,0,0.999272,4709981.94,NaN,NaN,0.998752,6727.70,1.000145,2887.32,0.999727,-4.699826
42986,50,0.00,0,0.999064,4709981.94,NaN,NaN,0.998814,14417.40,1.000061,4811.80,0.999750,-2.909899
43178,60,0.00,0,0.998981,4709981.94,NaN,NaN,0.998814,4805.80,1.000061,5292.98,0.999408,-14.790297
43370,70,0.00,0,0.998960,4713349.99,NaN,NaN,0.998814,4805.80,1.000061,5292.98,0.999408,-12.590289
43562,80,0.00,0,0.999199,4713349.99,NaN,NaN,0.998814,4805.80,1.000061,5292.98,0.999408,-5.459785
43754,90,0.00,0,0.999199,4713349.99,NaN,NaN,0.998814,4805.80,1.000061,7698.88,0.999294,-10.619760

In [16]:
# Let's first exam if all the time series are 55 steps long

(train
    .groupby(['stock_id', 'date_id'])
    ['seconds_in_bucket'] # Extract the column of interest
    .count() # Count the number of rows in each permutation of stock_id and date_id
    .apply(lambda x: x == 55) # Check if every count is 55
    .all() # Check if all the booleans are True
)

True